// ITCSS Architecture
// Settings
@import 'settings/variables';

// Tools
@import 'tools/mixins';

// Generic
@import 'generic/reset';

// Elements
@import 'elements/base';

// Objects
@import 'objects/container';

// Components
@import 'components/header';
@import 'components/card';
@import 'components/section';

// Utilities
@import 'utilities/helpers';
